body {
  background: rgb(254, 255, 153);
  background: linear-gradient(rgba(254, 255, 153, 1), rgba(254, 255, 153, 0.6));

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 50%;
  min-height: 100vh;
}
.contaienr {
  width: 100%;
  max-height: 25vh;
  overflow: scroll;
  overflow-x: hidden;
}

.contaienr > div {
  font-size: 30px;
  display: flex;
  align-items: bottom;
  min-height: 32px;
  padding: 0 0 0 15px;
  padding: 5px 15px 5px 15px;
}

input[type='text'] {
  color: #000;
  transition: all 2.5s;
}

#arrow {
  position: absolute;
  font-size: 3rem;
  top: 0.8rem;
  left: 3rem;
  color: crimson;
  opacity: 0;
}

.link a {
  text-decoration: underline;
  color: darkblue;
}
.blink2 {
  animation: blink2 2s infinite;
}

.blink {
  animation: blinker 1.5s linear infinite;
  height: 40px;
  border-bottom: 1px solid #b9d6fa;
}

@keyframes blink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    background: #fff;
  }
  50% {
    background: #000;
  }
  100% {
    background: #fff;
  }
}

.input {
  background: #fff;
  border: #fff;
  outline: none;
  width: 100%;
  font-size: 30px;
  color: rgb(22, 22, 22);
  font-size: 35px;
  font-family: Arial;
  white-space: nowrap;
}

/* .buttons {
  position: fixed;
  bottom: 5px;
  right: 0;
  background: red;
  z-index: 11;
} */

.toolbar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -0%);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
.buttons {
}

.link {
  font-family: 'Times New Roman', Times, serif;
}

.fade {
  width: 340px;
}

.rounded {
  width: 340px;
  height: 340px;
  background: #fff;
  border-radius: 50%;
  border: 11px solid #ccc;
}

.buttons img {
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
}

.hide {
  display: none;
}

#v-icon {
  font-size: 15em;
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
}

.icon {
  color: green;
}
.buttons img {
  width: 200px;
}
@media screen and (max-height: 1000px) {
  .rounded {
    width: 140px;
    height: 140px;
  }

  .buttons {
    bottom: -33px;
  }

  .buttons img {
    width: 133px;
  }

  #v-icon {
    font-size: 6rem;
  }
}
@media screen and (max-height: 641px) {
  .rounded {
    width: 100px;
    height: 100px;
  }

  .buttons {
    bottom: -26px;
  }
  .buttons img {
    width: 92px;
    top: 37%;
  }

  #v-icon {
    font-size: 4rem;
  }

  .link {
    font-size: 1rem;
  }
}

@media screen and (max-height: 550px) {
  .contaienr {
    max-height: 66.7vh;
  }

  .rounded {
    border: 5px solid #ccc;
  }
  .buttons {
    bottom: -33px;
  }
}
@media screen and (max-width: 511px) {
  .link {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 641px) {
  .container {
    background: #000;
    max-height: 1rem !important;
  }

  .link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .link {
    font-size: 1rem;
  }
}

#Thanks {
  width: 1;
}

#Test {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap; /* Thanks to Herb Caudill comment */
}

.ql-editor {
  width: 100% !important;
  word-wrap: break-all;
}
.ql-editor p {
  word-wrap: break-word;
  width: 82vw;
}
#bookmarkme {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  background: #fff;
  padding: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #000;
}

.fa-star {
  font-size: 1.5rem;
  color: gray;
}

.rtl {
  text-align: right;
  direction: rtl;
}
