.contaienr {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 100%;
  height: 100vh;
}

.contaienr > div {
  border-bottom: 2px solid #b9d6fa;
  font-size: 30px;
  display: flex;
  align-items: bottom;
  min-height: 32px;
  padding: 0 0 0 15px;
  padding: 5px 15px 5px 15px;
}

.blink {
  animation: blinker 3.5s linear infinite;
  height: 40px;
  border-bottom: 1px solid #b9d6fa;
}

@keyframes blinker {
  0% {
    background: #fff;
  }
  50% {
    background: #000;
  }
  100% {
    background: #fff;
  }
}

.input {
  background: #fff;
  border: #fff;
  outline: none;
  width: 100%;
  font-size: 30px;
  color: rgb(22, 22, 22);
}

/* .buttons {
  position: fixed;
  bottom: 5px;
  right: 0;
  background: red;
  z-index: 11;
} */

.buttons {
  position: fixed;
  bottom: -130px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fade {
  width: 340px;
}

.rounded {
  width: 340px;
  height: 340px;
  background: #fff;
  border-radius: 50%;
  border: 11px solid #ccc;
}

.buttons img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 50%;
}

.hide {
  display: none;
}

#v-icon {
  font-size: 15em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  color: green;
}

@media screen and (max-height: 1000px) {
  .rounded {
    width: 140px;
    height: 140px;
  }

  .buttons {
    bottom: -68px;
  }

  .buttons img {
    width: 164px;
  }

  #v-icon {
    font-size: 6rem;
  }
}

@media screen and (max-height: 640px) {
  .rounded {
    width: 100px;
    height: 100px;
  }

  .buttons {
    bottom: -55px;
  }

  .buttons img {
    width: 164px;
  }

  #v-icon {
    font-size: 4rem;
  }
}
