.contaienr {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 100%;
  max-height: 65.5vh;
  scroll-x: none;
  overflow: scroll;
  overflow-x: hidden;
}

.contaienr > div {
  border-bottom: 2px solid #b9d6fa;
  font-size: 30px;
  display: flex;
  align-items: bottom;
  min-height: 32px;
  padding: 0 0 0 15px;
  padding: 5px 15px 5px 15px;
}

input[type='text'] {
  color: #000;
  transition: all 2.5s;
}

#arrow {
  position: absolute;
  font-size: 3rem;
  top: 0.1rem;
  left: 4rem;
  color: red;
  opacity: 0;
}
.link {
  position: fixed;
  bottom: 5px;
  left: 50%;
  font-size: 1.3rem;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
}

.link a {
  text-decoration: underline;
  color: darkblue;
}
.blink2 {
  animation: blink2 2s infinite;
}

.blink {
  animation: blinker 1.5s linear infinite;
  height: 40px;
  border-bottom: 1px solid #b9d6fa;
}

@keyframes blink2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinker {
  0% {
    background: #fff;
  }
  50% {
    background: #000;
  }
  100% {
    background: #fff;
  }
}

.input {
  background: #fff;
  border: #fff;
  outline: none;
  width: 100%;
  font-size: 30px;
  color: rgb(22, 22, 22);
}

/* .buttons {
  position: fixed;
  bottom: 5px;
  right: 0;
  background: red;
  z-index: 11;
} */

.buttons {
  position: fixed;
  bottom: -130px;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fade {
  width: 340px;
}

.rounded {
  width: 340px;
  height: 340px;
  background: #fff;
  border-radius: 50%;
  border: 11px solid #ccc;
}

.buttons img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  border-radius: 50%;
}

.hide {
  display: none;
}

#v-icon {
  font-size: 15em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  color: green;
}

@media screen and (max-height: 1000px) {
  .rounded {
    width: 140px;
    height: 140px;
  }

  .buttons {
    bottom: -33px;
  }

  .buttons img {
    width: 164px;
  }

  #v-icon {
    font-size: 6rem;
  }
}
@media screen and (max-width: 639px) {
  .container {
    min-height: 71.5vh !important;
  }
}

@media screen and (max-height: 641px) {
  .rounded {
    width: 100px;
    height: 100px;
  }

  .buttons {
    bottom: -26px;
  }
  .buttons img {
    width: 164px;
  }

  #v-icon {
    font-size: 4rem;
  }

  .link {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 511px) {
  .link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .link {
    font-size: 0.7rem;
  }
}
