.contaienr {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  width: 100%;
  height: 100vh;
}

.contaienr > div {
  border-bottom: 1px solid #b9d6fa;
  font-size: 30px;
  display: flex;
  align-items: bottom;
  min-height: 32px;
  padding: 0 0 0 15px;
  padding: 5px 15px 5px 15px;
}

.blink {
  animation: blinker 1.5s linear infinite;
  height: 40px;
  border-bottom: 1px solid #b9d6fa;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.input {
  background: #fff;
  border: #fff;
  outline: none;
  width: 100%;
  font-size: 30px;
  color: rgb(22, 22, 22);
}

/* .buttons {
  position: fixed;
  bottom: 5px;
  right: 0;
  background: red;
  z-index: 11;
} */

img {
  width: 220px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.fade {
  width: 340px;
}

.test {
}
